<!DOCTYPE HTML>
<html>
	<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta http-equiv="content-language" content="en">

        <link rel="shortcut icon" type="image/png" href="/favicon.png" />

		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssfonts/fonts-min.css">
        
        <link rel="stylesheet" href="/css/style.css" />
        {% if admin %}
        <link rel="stylesheet" href="/css/admin.css" />
        {% endif %}
	</head>
    <body>
        {% if admin %}
        <div id="admin-panel">
            <input type="button" value="Save Changes" id="save_page" />
            <input type="file" name="file" value="Upload Files" id="upload_files" onload="onFileLoad(this)" multiple />
            <span id="progress"></span>
        </div>
        {% endif %}        
        <div id="bg">
            <div id="float"></div>
            <div id="container">
                <div id="content">
                    <a id="back" style="display: none"></a>
                    <div class="info home">
                        <div class="picture editable_image" style="background-image: url('{{ "logo_home"|file_url }}')"></div>
                        <div class="about">
                            <h1 class="editable">{{ "DF Group Header"|i18n:admin }}</h1>
                            <div class="text editable">{{ "DF Group Description"|i18n:admin }}</div>
                            <div class="contacts editable" style="display:none">{{ "Contacts home"|i18n:admin }}</div>                            
                            <div class="buttons">
                                <a class="button logos editable_file" href="{{"logos_home_file"|file_url}}">logos</a>
                                <a class="button presskit editable_file" href="{{"press_home"|file_url}}">press kit</a>
                                <a class="button contacts" onclick="toggleContacts()">contacts</a>
                                <a class="button back" onclick="toggleContacts()" style="display:none">back</a>
                            </div>
                            <div class="social">
                                <a class="myspace" title="Myspace"></a>
                                <a class="youtube" title="Youtube"></a>
                                <a class="facebook" title="Facebook"></a>
                                <a class="flickr" title="Flickr"></a>
                                <a class="lastfm" title="Last.fm"></a>
                                <a class="digg" title="Digg"></a>
                                <a class="twitter" title="Twitter"></a>
                            </div>
                        </div>
                    </div>
                    {% for company in companies %}
                    <div class="info {{company.key.id}}" style="display: none">
                        <div class="picture editable_image" style="background-image: url({{ "logo_"|cat:company.key.id|file_url }});"></div>
                        <div class="about">
                            <h1 class="editable">{{"Company "|cat:company.key.id|cat:" Header"|i18n:admin}}</h1>
                            <div class="text editable">{{"Company "|cat:company.key.id|cat:" Description"|i18n:admin}}</div>
                            <div class="contacts editable" style="display:none">{{ "Contacts "|cat:company.key.id|i18n:admin }}</div>
                            <div class="buttons">
                                <a class="button logos editable_file" href="{{"logos_file"|cat:company.key.id|file_url}}">logos</a>
                                <a class="button presskit editable_file" href="{{"press_"|cat:company.key.id|file_url}}">press kit</a>
                                <a class="button contacts" onclick="toggleContacts({{company.key.id}})">contacts</a>
                                <a class="button back" style="display: none" onclick="toggleContacts({{company.key.id}})">back</a>
                            </div>
                            <div class="social">
                                <a class="myspace" title="Myspace"></a>
                                <a class="youtube" title="Youtube"></a>
                                <a class="facebook" title="Facebook"></a>
                                <a class="flickr" title="Flickr"></a>
                                <a class="lastfm" title="Last.fm"></a>
                                <a class="digg" title="Digg"></a>
                                <a class="twitter" title="Twitter"></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="companies">
                        <div id="companies_title"></div>
                        <div class="container">
                        {% for company in companies %}
                            <div class="company" data-index="{{company.key.id}}">
                                <img class="image editable_image" src='{{ "small_logo_"|cat:company.key.id|file_url }}' data-image-filter='{"width": 200}' />
                                <div class="title editable">{{"Company "|cat:company.key.id|cat:" Title"|i18n:admin}}</div>
                            </div>
                        {% endfor %}
                        {% if admin %}
                            <div class="company">
                                <a href="/admin/add_company" id="add_company">Add Company</a>                                
                            </div>
                        {% endif %}
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div id="copyright">© <script>document.write(new Date().getFullYear())</script> DF Music Organization. All right reserved, St. Petersburg, Russiaт Federation. All labels and logotypes are official trademarks of DF Music Organization. All rights reserved.</div>
                </div>
            </div>
        </div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="/js/application.js"></script>
        {% if admin %}
        <script src="/js/admin.js"></script>
        {% endif %}
	</body>
</html>
